@model _19T1021037.Web.Models.EmployeeSearchOutput
@{
    Layout = null;
}

<p>
    Có <strong>@Model.RowCount</strong> nhà cung cấp trong tổng số <strong>@Model.PageCount</strong> trang
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>Ảnh</th>
                <th>Họ nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Ngày sinh</th>
                <th>Chú thích</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <!--
                    <td>
                        <center><img src="~/Img/vp.jpg" alt="Ảnh chưa được hiển thị" width="200" height="200" /></center>
                    </td>
                    <td>Vũ</td>
                    <td>Phạm</td>
                    <td>21/12/2001</td>
                    <td>vp@gmail.com</td>
                    <td>123456</td>
                    -->

                    <td><img src="~/Image/Employee/@item.Photo" height="100" width="100" /></td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.BirthDate</td>
                    <td width="500px">@item.Notes</td>


                    <td class="text-right">
                        <a href="~/Employee/Edit/@item.EmployeeID" class="btn btn-sm btn-primary" title="Sửa">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Employee/Delete/@item.EmployeeID" class="btn btn-sm btn-danger" title="Xoá">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>

